#menu{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width:600px;
    height:400px;
    background-color:whitesmoke;
} 


div#game-container{
    display: none;
    border: 1px solid black; 
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width:600px;
    height:400px;
}

#heading{
    height: 150px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.carousel {   
    height: 270px;
    width:550px;
  position: relative;
  top:42px;
  perspective: 1000px;
}

#navigation {
    top:70px;
    left:45px;
  width: 250px;
  height: 100px;
  position: absolute;
  transform-style: preserve-3d;
}

#navigation figure {
  position: absolute;
  width:130px;
  height: 120px;
  left: 150px;

  border:1px;
  border-color: whitesmoke;
  border-style: outset;
    background-color: lightblue;
        box-shadow: 10px 10px 5px silver;

    color:cadetblue;
    text-align: center;
}

strong{
    line-height: 88px;
      font-size: large; 
    font-family: "Times New Roman", Georgia, Serif; 
}

#navigation figure:hover{
    background-color: lightgoldenrodyellow;
    color:indianred;
    height: 120px;
    top:-6px;
}

#navigation figure:nth-child(1) { transform: rotateY(   0deg ) translateZ( 246px ); }
#navigation figure:nth-child(2) { transform: rotateY(  33deg ) translateZ( 246px ); }
#navigation figure:nth-child(3) { transform: rotateY(  327deg ) translateZ( 246px ); }






