#menu{
    border: 1px solid black; 
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width:600px;
    height:400px;
    background-color: cadetblue;
} 


div#game-container{
    display: none;
    border: 1px solid black; 
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width:600px;
    height:400px;
}

#heading{
    height: 150px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.carousel {
  position: relative;
  perspective: 1000px;
}

#navigation {
    top:35px;
    left:35px;
  width: 200px;
  height: 100px;
  position: absolute;
  transform-style: preserve-3d;
}

#navigation figure {
  position: absolute;
  width: 160px;
  height: 100px;
  left: 150px;
  top: 10px;
  border: 1px solid lightgrey;
    background-color: lightyellow;
    color:cadetblue;
}

figure:hover{
    background-color: lightgoldenrodyellow;
    color:dodgerblue;
}

#navigation figure:nth-child(1) { transform: rotateY(   0deg ); }
#navigation figure:nth-child(2) { transform: rotateY(  40deg ); }
#navigation figure:nth-child(3) { transform: rotateY(  80deg ); }
#navigation figure:nth-child(4) { transform: rotateY( 120deg ); }
#navigation figure:nth-child(5) { transform: rotateY( 160deg ); }
#navigation figure:nth-child(6) { transform: rotateY( 200deg ); }
#navigation figure:nth-child(7) { transform: rotateY( 240deg ); }
#navigation figure:nth-child(8) { transform: rotateY( 280deg ); }
#navigation figure:nth-child(9) { transform: rotateY( 320deg ); }

#navigation figure:nth-child(1) { transform: rotateY(   0deg ) translateZ( 288px ); }
#navigation figure:nth-child(2) { transform: rotateY(  40deg ) translateZ( 288px ); }
#navigation figure:nth-child(3) { transform: rotateY(  80deg ) translateZ( 288px ); }
#navigation figure:nth-child(4) { transform: rotateY( 120deg ) translateZ( 288px ); }
#navigation figure:nth-child(5) { transform: rotateY( 160deg ) translateZ( 288px ); }
#navigation figure:nth-child(6) { transform: rotateY( 200deg ) translateZ( 288px ); }
#navigation figure:nth-child(7) { transform: rotateY( 240deg ) translateZ( 288px ); }
#navigation figure:nth-child(8) { transform: rotateY( 280deg ) translateZ( 288px ); }
#navigation figure:nth-child(9) { transform: rotateY( 320deg ) translateZ( 288px ); }




